// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background: #8A2387;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 350px;
}

input[type='checkbox'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    float: left;
    width: 1px;
}

input[type='checkbox']+label {
    width: 3em;
    clear: none;
    /* Left padding makes room for image */
    padding: 0.5em;
    /* Make look clickable because they are */
    cursor: pointer;
    /*background: url(off.png) left center no-repeat;*/
    background: #f2f2f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dadad5;
    color: #7a7a69;
    font-weight: 700;
    text-transform: uppercase;
}

/*
    Change from unchecked to checked graphic
*/
input[type='checkbox']:checked+label {
    /*background-image: url(radio.png);*/
    background: #ffa640;
    box-shadow: inset 2px 2px 1px #d97400;
    color: #fff;
    font-weight: 900;
    text-shadow: 1px 1px 0 #d97400;
}

input[type='checkbox']:disabled+label {
    cursor: not-allowed;
    background: #f74c4c;
    box-shadow: inset 2px 2px 1px #bf0b0b;
    color: #fff;
    font-weight: 900;
    text-shadow: 1px 1px 0 #bf0b0b;
}

.statusSelection {

    label {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .btnc:hover {
        cursor: pointer !important;
    }

    .btnc:active {
        box-shadow: 0 1px #666 !important;
        transform: translateY(2px) !important;
    }

    .btnc {
        font-size: 15px;
        font-weight: bold;
        height: 35px;
        width: 100px;
        box-shadow: 0 3px #999;
        text-align: center;
    }

    .btn-custom {
        transition: all 0.2s ease;
        background-color: white;
        border: 2px solid #f44336 !important;
        box-shadow: 0 3px #d32f2f !important;
        min-width: 150px;
        border-radius: 20px;
    }

    input[type="radio"] {
        position: absolute;
        visibility: hidden;
    }

    input[type="radio"]+div {
        position: relative;
    }

    input[type="radio"]:checked+div {
        background-color: #ef5350;
    }

    input[type="radio"]:checked+div>span {
        color: white;
    }

    input[type="radio"]+div>span {
        position: relative;
        top: 10%;
    }

}
